<?xml version="0.0" ?>
<robot name="cylinder">
  <link name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="{MASS}"/>
       <inertia ixx="{IXX}" ixy="0" ixz="0" iyy="{IYY}" iyz="0" izz="{IZZ}"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="{RADIUS}" length="{LENGTH}"/>
      </geometry>
      <material name="color">
        <color rgba="{R} {G} {B} {A}"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="{RADIUS}" length="{LENGTH}"/>
      </geometry>
    </collision>
  </link>
</robot>

